@media (max-width: 1024px) {

    .container_main {
        flex-direction: column; 
        height: auto;           
        padding: 50px 20px;    
        text-align: center;     
    }

  
    .left_block_main {
        width: 100%;            
        height: auto;          
        margin-left: 0;         
        display: flex;
        flex-direction: column;
        align-items: center;    
    }


    .right_block_main {
        width: 100%;
        margin-right: 0;        
        margin-top: 30px;
    }

    .right_block_main img {
        width: 100%;
        max-width: 450px;       
        margin: 0 auto;
        transform: translateY(0); 
    }

  
    .title_main {
        font-size: 32px;       
        margin-bottom: 15px;
    }

    .paragraph_under_title {
        width: 100%;            
        font-size: 18px;
        line-height: 1.4;
        height: auto;           
        margin-bottom: 25px;
    }
}


@media (max-width:800px){
    .nav{
        display: none;
    }
}

