@import url('/assets/fonts/fonts.css');

:root {
  --logo-color:#000000;
  --primary-color: #343F52;
  --paragraph-main:#60697B;
}


~
.header{
    width: 100%;
    height: 77px;
    font-family: "Urbanist",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container_header{
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10%;
 
}

.logo{
    display: flex;
    align-items: center;
    color: var(--logo-color);
    
}

.logo-text{
    font-size: 22px;
}

.nav_list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.nav_link{
    font-size: 17px;
    color: var(--primary-color);
}

.sign_block{
    width: 15%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

                /* main section */

.all_first_section{
    width: 100%;
    font-family: "Urbanist",sans-serif;
    display: flex;
    flex-direction: column;      
    align-items: center;
}


.container_main{
    background: linear-gradient(to right, #D6E2EC, #F2D6E3);
    width: min(100% - 40px, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 632px;
}

.right_block_main img {
    display: block;
    max-width: 100%; 
    transform: translateY(60px);
}


.left_block_main{
    margin-left: 55px;
    width: 50%;
   
    

}

.right_block_main{
    margin-right: 55px;
    
}

.title_main{
    color: var(--primary-color);
    font-size: 46px;
    margin-bottom:23px;
}

.title_main span{
    background: linear-gradient(to right, #F857A6 10%, #EF3F6E 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;  
}

.paragraph_under_title{
    font-size: 23px;
    width: 80%;
    height: 62px;
    color: var(--paragraph-main);
    line-height:34px;
    margin-bottom:38px;
}

.up_service{
    margin-bottom: 44px;
}

.left_block_main button{
    border: none;
    background: linear-gradient(to right, #F857A6 10%, #EF3F6E 100%);
    width: 150px;
    height: 58px;
    border-radius: 8px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 17px;
}


            /* SECOND SECTION - SERVICE OFFER */

.section_service_offer{
    margin: 0px 10%;
    margin-top: 10%;
    font-family: "Urbanist",sans-serif;
    margin-bottom: 100px;
    
}

.all_service_offer{
    width: 100%;
}


.over_title{
    text-align: center;
    background: linear-gradient(to right, #F857A6 10%, #EF3F6E 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 16px;  
    margin-bottom: 16px;
    text-transform: uppercase;
}

.title_section_service_offer{
    text-align: center;
    color: var(--primary-color);
    font-size: 38px;
    line-height: 47px;
    margin-bottom: 46px;
    font-weight: 600;
}

.up_service,
.down_service{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
   
}

.block_card {
  max-width: 100%; 
  padding: 20px;
  background: white;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.title_and_decribe_offer h3{
    margin-bottom: 9px;
    font-size: 22px;
    color: var(--primary-color);
}

.title_and_decribe_offer p{
    font-size: 17px;
    color: var(--paragraph-main);
}

.up_service img{
    align-self: flex-start;
}


/* SECTION HAVE PERFECT CONTROL */

.section_perfect_control{
    display: flex;
    margin: 0px 13%;
    align-items: center;
    margin-top: 10%;
    font-family: "Urbanist",sans-serif;
    margin-bottom: 100px;
    font-family: "Urbanist",sans-serif;
    gap: 60px;
     flex-wrap: wrap;
}


.left_block_perfect_conrol, 
.right_block_perfect_conrol {
  flex: 1 1 450px; 
}

.left_block_perfect_conrol img {
  width: 100%;
  height: auto;

  border-radius: 20px;
}

.text_over_title_perfect_control{
   background: linear-gradient(to right, #F857A6 10%, #EF3F6E 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
    
}

.title_section_perfect_contol{
    color: var(--primary-color);
    font-size: 38px;
    line-height: 47px;
    margin-bottom: 20px;
    font-weight: 600;
}

.right_block_perfect_conrol p{
    color: var(--paragraph-main);
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 20px;
}

.feature-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px 40px;
    color: var(--paragraph-main);
    font-size: 17px;
    line-height: 28px;
}

.feature-list li {
  display: flex;
  align-items: flex-start;
}

.feature-list li::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background-color: #E2E2F3;
    border-radius: 50%;
    flex-shrink: 0;

}